- unless Rails.env == 'production' || Rails.env == 'staging'
  = javascript_include_tag 'external/jquery', 'baseExtensions', 'external/base', 'external/string', 'jQueryExtensions'
  = javascript_include_tag 'config', 'haml2', 'views', 'external/cookie', 'stacktrace'
  = javascript_include_tag 'messages', 'external/shadowbox'
  = javascript_include_tag 'dates', 'conflictDialog', 'schedule', 'sharedSchedule', 'scheduleManager', 'gcalManager', 'timeSelectManager', 'drilldownFilters', 'drilldown', 'help', 'search', 'enrollment', 'registerDialog', 'feedback', 'tooltips', 'drilldownFiltersImpl', 'application', 'test'
  %script{ :src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript" }
  %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
  %script{:type => 'text/javascript'}
    google.load('gdata', 1);

- else 
  %script{ :src => "https://www.google-analytics.com/urchin.js", :type => "text/javascript" }
  %script{ :src => "https://www.google.com/jsapi", :type => "text/javascript" }
  = javascript_include_tag 'generated/javascripts'
  
  %script{:type => 'text/javascript'}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21107911-1']);
    _gaq.push(['_trackPageview']);
    
    google.load('gdata', 1);

= javascript_include_tag 'generated/data'
  
= yield :javascripts
