%h1 Javascript Errors
- if @user
  %p User: #{@user}

- @errors.each do |key, error|
  %br
  %h2 Error:
  %dl
  
    - error.each do |property, value|
      %dt= property
      %dd
        - if property.to_s == 'stacktrace'
          - for line in value
            = line
            %br
        - else
          = value

  = error.inspect