Hello #{@email},

= @schedule.person.full_name
would like to share a schedule with you using Schedulr.

You must click the link below in order to view the schedule:
= raw "<a href='https://www.betterschedulr.com/main/share_link?secret=#{@secret}'>https://www.betterschedulr.com/main/share_link?secret=#{@secret}</a>"
