- if true
  if 
- else if true
  elseif 

- if false
  if 
- else if true
  elseif 

- var x = 0;
- if(true) x = 1;
= x
- if(true) { x = 2; }
= x
- if(true)
  - x = 4;
= x

- for c in 0..3
  = c+" "

- for c in [1, 2, 3] using d
  = c
  = d+" "

- for var c = 0; c < 4; c++
  - var d = 0;
  - while d < 2
    - if c == 0
      - if c == d
        for-while-if-if 
      - else {__o.push('for-while-if-else ')}  
    - else          if(c === 1) { 
      for-while-elseif 
    - } else if(c == 10) {
    - }
    - else if(c == |
                   2)  |
      for-while-elseif2 
    - else
      for-while-else 
    - d++;